#Feature0_0 .ant-col > .content0-block-item > .jzj8xt5kgv7-editor_css {
  font-size: 18px;
}
#Feature0_0 .ant-row > .ant-col > .content0-block-item {
}
#Feature0_0 .ant-col > .jzjgrrupf2c-editor_css > .content0-block-icon {
  width: 10px;
}
#Feature0_0 .ant-col > .jzjgrrupf2c-editor_css > .jzjgrlz134-editor_css {
  width: 190px;
  height: 190px;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjndw5oerk-editor_css {
  font-size: 18px;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjne24af8c-editor_css {
  font-size: 18px;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjne54fwqm-editor_css {
  font-size: 18px;
}
#Feature0_0 .ant-row > .ant-col > .jzjgrrupf2c-editor_css {
  padding: 0;
}

#Feature0_0 div > .ant-row > .content0-block {
  min-height: 340px;
  padding: 24px;
  transition: box-shadow 0.45s ease 0s;
}
#Feature0_0 div > .ant-row > .content0-block:hover {
  box-shadow: 0px 11px 56px rgba(100, 100, 136, 0.15);
}
#Footer1_0 .ant-col > div > .jzl0u1bko6-editor_css {
  margin: 16px 0 0;
}
#Feature6_0 .k3g1yx7i8m-editor_css {
  background-image: linear-gradient(
    to bottom,
    #e8e8fd 23.557692307692307%,
    white 100%
  );
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Contact0_0.k3fx2y3y3o9-editor_css {
  background-clip: padding-box, padding-box;
  background-image: url(https://i.imgur.com/AaTFvej.jpg);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
#Feature6_0 .k3g2e5xf7mc-editor_css {
  background-clip: padding-box;
}
#Footer1_0 .ant-col > .slogan > .k3g6efuap0i-editor_css {
  font-size: 25px;
  color: #5f9bf5;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjgrlz134-editor_css {
  display: inline;
}
#Feature6_0 .feature6-title-wrapper > .feature6-title > .k3ga7vfcz4-editor_css {
  font-size: 32px;
}
#Feature2_0 .ant-row > .k3g9rdhjsau-editor_css {
  display: inline;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjndsyw8sf-editor_css {
  display: inline;
  width: 190px;
  height: 190px;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjndq0dueg-editor_css {
  display: inline;
  width: 190px;
  height: 190px;
}
#Feature0_0 .ant-col > .content0-block-item > .jzjncn210ql-editor_css {
  display: inline;
  width: 190px;
  height: 190px;
}
#Feature2_0 .ant-row > .ant-col > .k3gaw3wr4e7-editor_css {
}
#Feature2_0 .ant-row > .ant-col > .k3g9ozbf1c-editor_css {
  display: flex;
  font-size: 60px;
  font-weight: bold;
  color: rgb(95, 155, 241);
  bottom: 50px;
}
#Feature2_0 .ant-row > .ant-col > .k3g9omebxy-editor_css {
  font-size: 25px;
  font-weight: bold;
  bottom: 90px;
}
#Feature0_0 .k3gbynkg4va-editor_css {
  background-clip: padding-box;
  width: 100%;
  max-width: 1500px;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}
#Feature0_0.k3galcfu51b-editor_css {
  background-color: rgba(212, 209, 243, 0);
  background-image: radial-gradient(
    ellipse closest-corner at center,
    #d9d9d9 0%,
    white 100%
  );
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature2_0.k3gav5xhs4i-editor_css {
  background-color: rgba(217, 217, 217, 0.6);
}
#Feature0_0 .home-page > .title-wrapper > .k3gck639wg-editor_css {
  font-size: 48px;
  font-weight: bold;
  border-top-width: 30px;
}
#Feature6_0 .slick-slide > div > .k3gdzs9zs7d-editor_css {
  background-image: linear-gradient(to bottom, #d6edff 0%, white 100%);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature6_0.k3g54688jz7-editor_css {
  min-height: 400px;
  background-image: radial-gradient(
    circle at center,
    #ffffff 0.48%,
    #d6e4ee 100%,
    white 100%
  );
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Footer1_0 .ant-row > .ant-col > .k3ge4g56r28-editor_css {
  font-size: 32px;
}
#Footer1_0 .ant-col > div > .k3ge4rg9v-editor_css {
  font-size: 20px;
}
#Footer1_0 .ant-col > div > .k3gea94fyv7-editor_css {
  font-size: 20px;
}
#Footer1_0 .ant-col > div > .k3ge9iykzl-editor_css {
  border-bottom-width: 20px;
  font-size: 20px;
  color: rgb(145, 145, 145);
  border-top-width: 20px;
}
#Footer1_0 .ant-row > .ant-col > .jzl0qcpyjra-editor_css {
  display: inline;
  width: 100px;
}
#Footer1_0 .footer1 > .ant-row > .k3gedkswlgd-editor_css {
  border-top-width: 10px;
}
#Footer1_0 .ant-row > .ant-col > .k3gehn23r8k-editor_css {
  border-top-width: 10px;
  margin: 20px 0;
}
#Footer1_0 .footer1 > .ant-row > .k3geiccsmlt-editor_css {
  margin: 20px 0 0;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .k3gk41ngc8r-editor_css {
  font-size: 40px;
  font-weight: bold;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .k3gk3xzwd0m-editor_css {
  background-image: url(
    https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/020e1179-46f8-43ff-9c44-4280cde630ec/ddc2bhq-96607408-02c1-47b1-9b2b-d8df05ac1b15.jpg/v1/fill/w_1131,
    h_707,
    q_70,
    strp/forest_road_wallpaper_hd_4k_by_sahibdm_ddc2bhq-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvMDIwZTExNzktNDZmOC00M2ZmLTljNDQtNDI4MGNkZTYzMGVjXC9kZGMyYmhxLTk2NjA3NDA4LTAyYzEtNDdiMS05YjJiLWQ4ZGYwNWFjMWIxNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.MulpCP0xqfCwkjC3nuI964uzakDqvu7A-LGRJWo7Sxs
  );
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .ant-btn {
  display: none;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .k3gll730ku-editor_css {
  font-size: 60px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .k3gllhrusdo-editor_css {
  font-size: 20px;
}
#Content13_0.k3gpiwv8ixj-editor_css {
  min-height: 600px;
}
#Content13_0 .title-wrapper > .k3gpjmkcd26-editor_css {
  font-size: 35px;
}
#Content13_0 .title-wrapper > .k3gpjisi8ob-editor_css {
  font-size: 60px;
}
